# Repo links
LIBRARY_REPO=https://github.com/mongodb/mongo-php-library.git
DRIVER_REPO=https://github.com/mongodb/mongo-php-driver.git
SPECIFICATIONS_REPO=https://github.com/mongodb/specifications.git
COMPASS_REPO=https://github.com/mongodb-js/compass.git

# Timezone
WORKSPACE_TIMEZONE=UTC

# XDEBUG
DOCKER_PHP_ENABLE_XDEBUG='on'

# MongoDB outer ports
MONGO_500_PORT=27010
MONGO_506_PORT=27011
MONGO_508_PORT=27012
MONGO_530_PORT=27013
MONGO_600_PORT=27014

# PHP external Ports
PHP_8_0_PORT=9006
PHP_8_0_WMONGO_PORT=9008
